<h2>Student Form</h2>

<form [formGroup]="studentForm" (ngSubmit)="onSubmit()">

  <label>Name:</label>
  <input formControlName="Name" />
  <div *ngIf="studentForm.get('Name')?.invalid && studentForm.get('Name')?.touched">
    Name is required
  </div>

  <label>ID:</label>
  <input formControlName="id" />
  <div *ngIf="studentForm.get('id')?.invalid && studentForm.get('id')?.touched">
    Valid ID is required
  </div>

  <label>Roll No:</label>
  <input formControlName="RollNo" />
  <div *ngIf="studentForm.get('RollNo')?.invalid && studentForm.get('RollNo')?.touched">
    Roll No is required
  </div>

  <label>Email:</label>
  <input formControlName="EmailId" />
  <div *ngIf="studentForm.get('EmailId')?.invalid && studentForm.get('EmailId')?.touched">
    Enter valid email
  </div>

  <label>Phone Number:</label>
  <input formControlName="PhoneNumber" />
  <div *ngIf="studentForm.get('PhoneNumber')?.invalid && studentForm.get('PhoneNumber')?.touched">
    Enter 10-digit phone number
  </div>

  <button type="submit">Submit</button>
</form>

<br />


<h2>Student List</h2>

<table border="1" style="width: 100%; text-align: left;">
  <thead>
    <tr>
      <th>Name</th>
      <th>ID</th>
      <th>Roll No</th>
      <th>Email</th>
      <th>Phone Number</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let student of students">
      <td>{{ student.Name }}</td>
      <td>{{ student.id }}</td>
      <td>{{ student.RollNo }}</td>
      <td>{{ student.EmailId }}</td>
      <td>{{ student.PhoneNumber }}</td>
      <td>
        <button (click)="updateStudent(+student.id)">Edit</button>
        <button (click)="onDelete(+student.id)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
