 <div class="mb-2">
  <button class="btn btn-primary" (click)="addStudent()">Add Student</button>
 </div>


  <router-outlet></router-outlet>

<h2>Student List</h2>

<table border="1" style="width: 100%; text-align: left;">
  <thead>
    <tr>
      <th>Name</th>
      <th>ID</th>
      <th>Roll No</th>
      <th>Email</th>
      <th>Phone Number</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let student of students; trackBy: trackById">
      <td>{{ student.Name }}</td>
      <td>{{ student.id }}</td>
      <td>{{ student.RollNo }}</td>
      <td>{{ student.EmailId }}</td>
      <td>{{ student.PhoneNumber }}</td>
      <td>
        
        <button (click)="updateStudent(+student.id)"><i class="fas fa-edit"></i></button>
        <button (click)="onDelete(+student.id)"><i class="fas fa-trash"></i></button>
        
      </td>
    </tr>
  </tbody>
</table>

