h2{ 
    text-align: center;
    font-family: cursive;
    background: cornflowerblue;
}
.form{
    display: grid;
    margin: 12px;
    padding: 12px;}


.submit{
       margin-top: 23px;
}    

.error {
    color: red;
    font-size: 18px;
    margin-top: 5px;
}