<h2 class="h2">Student Form</h2>


<form class="form ml-5" [formGroup]="studentForm" (ngSubmit)="onSubmit()">

  <label>Name:</label>
  <input formControlName="Name" />
  <div class="error" *ngIf="studentForm.get('Name')?.invalid && studentForm.get('Name')?.touched">
    Name is required
  </div>

  <label>ID:</label>
  <input formControlName="id" />
  <div class="error" *ngIf="studentForm.get('id')?.invalid && studentForm.get('id')?.touched">
    Valid ID is required
  </div>

  <label>Roll No:</label>
  <input formControlName="RollNo" />
  <div class="error" *ngIf="studentForm.get('RollNo')?.invalid && studentForm.get('RollNo')?.touched">
    Roll No is required
  </div>

  <label>Email:</label>
  <input formControlName="EmailId" />
  <div class="error" *ngIf="studentForm.get('EmailId')?.invalid && studentForm.get('EmailId')?.touched">
    Enter valid email
  </div>

  <label>Phone Number:</label>
  <input formControlName="PhoneNumber" />
  <div class="error" *ngIf="studentForm.get('PhoneNumber')?.invalid && studentForm.get('PhoneNumber')?.touched">
    Enter 10-digit phone number
  </div>

  <button class="submit" type="submit">Submit</button>
</form>

